<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <img src="assets/images/logo-white.svg" alt="Lucid">
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Recover my password</p>
          </div>
          <div class="body">
            <p>Please enter your email address below to receive instructions for resetting password.</p>
            <form class="form-auth-small" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
              <div class="form-group">
                <label for="password" class="control-label sr-only">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password"
                       name="password"
                       appPasswordValidator="password"
                       #password="ngModel"
                       [ngClass]="{'parsley-error':!password.valid && (password.touched || f.submitted)}"
                       ngModel required>
                <ul class="parsley-errors-list filled" *ngIf="!password.valid && (password.touched || f.submitted)">
                  <li class="parsley-required" *ngIf="password.hasError('required')">Password is required.</li>
                </ul>
              </div>
              <div class="form-group">
                <label for="confirmPassword" class="control-label sr-only">Password</label>
                <input type="password"
                       class="form-control"
                       id="confirmPassword"
                       placeholder="Password"
                       name="confirmPassword"
                       #confirmPassword="ngModel"
                       [ngClass]="{'parsley-error':!confirmPassword.valid && (confirmPassword.touched || f.submitted)}"
                       ngModel required>
                <ul class="parsley-errors-list filled" *ngIf="!confirmPassword.valid && (confirmPassword.touched || f.submitted)">
                  <li class="parsley-required" *ngIf="confirmPassword.hasError('required')">Password is required.</li>
                  <li class="parsley-required" *ngIf="confirmPassword.hasError('passwordMatchError')">Passwords Don't Match.</li>
                </ul>
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">RESET PASSWORD</button>
              <div class="bottom">
                <span class="helper-text">Know your password? <a [routerLink]="['/auth/login']">Login</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

